:root {
    --c0: #fff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #ccc;
    --c5: #b3b3b3;
    --c6: #9c9c9c;
    --c7: #707070;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111;
    --c12: #000;
    --p1: #FFBB00;
    --p2: #E4A30B;
    --p3: #A66F00;
    --p4: #664400;
    --p5: #332200;
}

.c0 {
    color: var(--c0);
}

.c1 {
    color: var(--c1);
}

.c2 {
    color: var(--c2);
}
.c3 {
    color: var(--c3);
}
.c4 {
    color: var(--c4);
}
.c5 {
    color: var(--c5);
}
.c6 {
    color: var(--c6);
}
.c7 {
    color: var(--c7);
}
.c8 {
    color: var(--c8);
}
.c9 {
    color: var(--c9);
}
.c10 {
    color: var(--c10);
}
.c11 {
    color: var(--c11);
}
.c12 {
    color: var(--c12);
}

.p1 {
    color: var(--p1);
}
.p2 {
    color: var(--p2);
}
.p3 {
    color: var(--p3);
}
.p4 {
    color: var(--p4);
}
.p5 {
    color: var(--p5);
}