:root {
    --c0: #fff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #ccc;
    --c5: #b3b3b3;
    --c6: #9c9c9c;
    --c7: #707070;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111;
    --c12: #000;
    --p1: #FFBB00;
    --p2: #E4A30B;
    --p3: #A66F00;
    --p4: #664400;
    --p5: #332200;
}